kwallet*
ksmserverrc
session/
.cache/
google-chrome/
Code/
Postman/
TelegramDesktop/
wayland-session.log
currency.xml
spectaclerc
kscreenlockerrc
kwinoutputconfig.json
kactivitymanagerdrc
plasma-org.kde.plasma.desktop-appletsrc
.local/share/krunnerstaterc
.local/share/recently-used.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel
.local/share/user-places.xbel.tbcache
.local/share/recently-used.xbel
